
    <%- include('includes/header.ejs') %>
    <!-- Hero Section -->
    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Welcome to Our Website</h1>
            <p class="lead">We provide amazing services to help your business grow.</p>
            <a href="#" class="btn btn-light btn-lg">Get Started</a>
        </div>
    </header>

    <!-- Features Section -->
    <section class="container my-5">
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="p-4 border rounded shadow">
                    <h4>Fast & Reliable</h4>
                    <p>Our services are optimized for speed and reliability.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-4 border rounded shadow">
                    <h4>Secure</h4>
                    <p>We prioritize security to protect your data and privacy.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-4 border rounded shadow">
                    <h4>24/7 Support</h4>
                    <p>Our team is available to assist you anytime.</p>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('includes/footer.ejs') %>

 